section {
    padding: 50px;
}

/* Grid Start */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*Nav Section*/
nav {
    grid-column: span 3;
    padding-bottom: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

nav ul li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

li.right {
    float: right;
}

/* About Me Section */
aside {
    grid-column-start: 1;
}

#about {
    grid-column: 2 / span 2;
    padding: 50px;
    margin: 50px;
}

/* Skills Section */
#skills {
    grid-column: 1 / span 3;
    background-color: lightgray;
}

.skillsimg,
i {
    width: 80px;
    height: 80px;
    padding: 0px 60px;
}

/* Projects section */
.projects {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
}

.project-container-one {
    grid-column: 2;
    padding: 10%;
}

.project-container-two {
    grid-column: 1;
    padding: 10%;
}

.project-container-three {
    grid-column: 2;
    padding: 10%;
}

.project-container-four {
    grid-column: 3;
    padding: 10%;
}

@media screen and (max-width: 600px) {
    nav ul li .right,
    nav ul li {
        float: none;
    }
}